<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="s622_moveit_descriptions">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import s622_moveit_descriptions urdf file -->
    <xacro:include filename="$(find s622_moveit_descriptions)/urdf/s622_moveit_descriptions.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="s622_moveit_descriptions.ros2_control.xacro" />


    <xacro:s622_moveit_descriptions_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
