<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino_arm">
  <xacro:arg name="initial_positions_file" default="$(find fairino_arm_moveit_config)/config/initial_positions.yaml"/>
  <xacro:arg name="controllers_file" default="$(find fairino_arm_moveit_config)/config/ros2_controllers_gazebo_velocity.yaml"/>
  <xacro:arg name="enable_camera" default="true"/>
  <xacro:arg name="camera_fps" default="60"/>
  <xacro:arg name="camera_image_width" default="640"/>
  <xacro:arg name="camera_image_height" default="480"/>

  <xacro:include filename="$(find fairino_arm_moveit_descriptions)/urdf/fairino_arm_moveit_descriptions.urdf"/>
  <xacro:include filename="../common/gazebo_plugins.xacro"/>
  <xacro:include filename="../common/gazebo_ros2_control.xacro"/>
  <xacro:include filename="fairino_arm_gripper_friction.xacro"/>
  <xacro:include filename="fairino_arm_camera_mount.xacro"/>

  <xacro:gz_common_plugins controllers_file="$(arg controllers_file)" enable_sensors="$(arg enable_camera)"/>
  <xacro:if value="$(arg enable_camera)">
    <xacro:fairino_arm_gazebo_camera
      camera_fps="$(arg camera_fps)"
      camera_image_width="$(arg camera_image_width)"
      camera_image_height="$(arg camera_image_height)"/>
  </xacro:if>
  <xacro:fairino_arm_gripper_friction/>
  <xacro:gz_six_axis_velocity_control
    name="GazeboSimSystem"
    initial_positions_file="$(arg initial_positions_file)"
    include_gripper="true"/>
</robot>
