<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find fairino_arm_moveit_descriptions)/urdf/camera/camera.xacro"/>

  <xacro:macro name="fairino_arm_gazebo_camera" params="camera_fps:=60 camera_image_width:=640 camera_image_height:=480">
    <xacro:property name="PI" value="3.14159274"/>
    <xacro:camera_v0 parent="base_link">
      <origin xyz="0.25 0.7 1.0" rpy="0 ${79*PI/180} ${-PI/2}"/>
    </xacro:camera_v0>
    <xacro:camera_gazebo_v0
      fps="${camera_fps}"
      image_width="${camera_image_width}"
      image_height="${camera_image_height}"/>
  </xacro:macro>
</robot>
