<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fairino_arm_moveit_descriptions">

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00049027 -0.00045095 0.032527"
        rpy="0 0 0" />
      <mass
        value="0.29035" />
      <inertia
        ixx="0.00051309"
        ixy="4.2426E-06"
        ixz="-3.9414E-06"
        iyy="0.00051293"
        iyz="-3.6087E-06"
        izz="0.00073224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="-2.8223E-07 -0.0024164 0.13521"
        rpy="0 0 0" />
      <mass
        value="0.78648" />
      <inertia
        ixx="0.0012306"
        ixy="-1.8019E-08"
        ixz="-4.8572E-09"
        iyy="0.0012007"
        iyz="1.621E-05"
        izz="0.00085665" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="3.0543"
      soft_lower_limit="-3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="upperarm_link">
    <inertial>
      <origin
        xyz="-0.14 -3.2998E-09 0.1117"
        rpy="0 0 0" />
      <mass
        value="2.774" />
      <inertia
        ixx="0.0038584"
        ixy="5.6311E-09"
        ixz="7.0604E-09"
        iyy="0.037026"
        iyz="3.4667E-10"
        izz="0.036047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/upperarm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/upperarm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0 0.14"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="upperarm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="1.4835"
      soft_lower_limit="-4.6251"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="forearm_link">
    <inertial>
      <origin
        xyz="-0.12829 3.461E-07 0.004504"
        rpy="0 0 0" />
      <mass
        value="1.8066" />
      <inertia
        ixx="0.0018648"
        ixy="-8.4793E-08"
        ixz="-0.00054453"
        iyy="0.016897"
        iyz="5.6265E-09"
        izz="0.01656" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="-0.28 0 0"
      rpy="0 0 0" />
    <parent
      link="upperarm_link" />
    <child
      link="forearm_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8274"
      upper="2.8274"
      effort="150"
      velocity="3.15" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="2.8274"
      soft_lower_limit="-2.8274"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist1_link">
    <inertial>
      <origin
        xyz="2.7977E-07 -0.00344 0.098294"
        rpy="0 0 0" />
      <mass
        value="0.59151" />
      <inertia
        ixx="0.0007449"
        ixy="3.5335E-10"
        ixz="1.3551E-08"
        iyy="0.00053793"
        iyz="1.2039E-05"
        izz="0.00070651" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.24001 0 0"
      rpy="0 0 0" />
    <parent
      link="forearm_link" />
    <child
      link="wrist1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.6251"
      upper="1.4835"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="1.4835"
      soft_lower_limit="-4.6251"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist2_link">
    <inertial>
      <origin
        xyz="-2.7639E-07 0.00344 0.098294"
        rpy="0 0 0" />
      <mass
        value="0.59151" />
      <inertia
        ixx="0.0007449"
        ixy="3.5282E-10"
        ixz="-1.3542E-08"
        iyy="0.00053793"
        iyz="-1.2039E-05"
        izz="0.00070651" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="1.5708 0 0" />
    <parent
      link="wrist1_link" />
    <child
      link="wrist2_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="3.0543"
      soft_lower_limit="-3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="wrist3_link">
    <inertial>
      <origin
        xyz="3.6559E-05 6.6964E-06 0.095419"
        rpy="0 0 0" />
      <mass
        value="0.42796" />
      <inertia
        ixx="0.00020402"
        ixy="-4.68E-09"
        ixz="-2.1889E-08"
        iyy="0.00020635"
        iyz="5.9176E-08"
        izz="0.00033039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.66667 0.69804 0.76863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/wrist3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 0 0.102"
      rpy="-1.5708 0 0" />
    <parent
      link="wrist2_link" />
    <child
      link="wrist3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0543"
      upper="3.0543"
      effort="28"
      velocity="3.2" />
    <calibration
      rising="0"
      falling="0" />
    <dynamics
      damping="0"
      friction="0" />
    <safety_controller
      soft_upper_limit="3.0543"
      soft_lower_limit="-3.0543"
      k_position="15"
      k_velocity="10" />
  </joint>
  <link
    name="finger1">
    <inertial>
      <origin
        xyz="0.00067584 0.03547 -5.8981E-06"
        rpy="0 0 0" />
      <mass
        value="0.008826" />
      <inertia
        ixx="1.5494E-06"
        ixy="5.248E-07"
        ixz="3.4585E-09"
        iyy="9.8473E-07"
        iyz="-4.5799E-09"
        izz="1.9457E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/finger1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/finger1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger1_joint"
    type="prismatic">
    <origin
      xyz="-0.0099996 -8.7262E-05 0.1658"
      rpy="1.5708 0 3.1416" />
    <parent
      link="wrist3_link" />
    <child
      link="finger1" />
    <axis
      xyz="0.99996 0 -0.0087267" />
    <limit
      lower="0.0"
      upper="0.0305"
      effort="150"
      velocity="3.2" />
  </joint>
  <link
    name="finger2">
    <inertial>
      <origin
        xyz="-0.00067584 0.03547 5.8981E-06"
        rpy="0 0 0" />
      <mass
        value="0.008826" />
      <inertia
        ixx="1.5494E-06"
        ixy="-5.248E-07"
        ixz="3.4585E-09"
        iyy="9.8473E-07"
        iyz="4.5799E-09"
        izz="1.9457E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/finger2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fairino_arm_moveit_descriptions/meshes/finger2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger2_joint"
    type="prismatic">
    <origin
      xyz="0.0099996 8.7271E-05 0.1658"
      rpy="1.5708 0 3.1416" />
    <parent
      link="wrist3_link" />
    <child
      link="finger2" />
    <axis
      xyz="0.99996 0 -0.0087267" />
    <limit
      lower="-0.0305"
      upper="0"
      effort="150"
      velocity="3.2" />
  </joint>

  <!-- Grasp frame at the center of the gripper -->
  <link name="tool0"/>

  <joint name="wrist3_to_tool0" type="fixed">
    <parent link="wrist3_link"/>
    <child link="tool0"/>
    <!-- midpoint between finger1_joint and finger2_joint origins -->
    <origin xyz="0 0 0.2168" rpy="0 0 0"/>
    <!-- <origin xyz="0 0 0.1668" rpy="0 0 0"/> -->
  </joint>

  <!-- <link name="calibration_marker"/>
  <joint name="wrist3_to_calibration_marker" type="fixed">
    <parent link="wrist3_link"/>
    <child link="calibration_marker"/>
    <origin xyz="4.8765E-05 -0.011601 0.1636" rpy="0 0 0"/>
  </joint> -->
</robot>