<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gz_common_plugins" params="controllers_file enable_sensors:=false">
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>${controllers_file}</parameters>
      </plugin>
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
      <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <publish_nested_model_pose>true</publish_nested_model_pose>
      </plugin>
      <xacro:if value="${enable_sensors}">
        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
          <render_engine>ogre2</render_engine>
        </plugin>
      </xacro:if>
    </gazebo>
  </xacro:macro>
</robot>

