<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="../common/gazebo_friction.xacro"/>

  <xacro:macro name="s622_gripper_friction">
    <xacro:gz_link_friction link="finger1" mu1="500.0" mu2="500.0" kp="30000" kd="15"/>
    <xacro:gz_link_friction link="finger2" mu1="500.0" mu2="500.0" kp="30000" kd="15"/>
  </xacro:macro>
</robot>

