# python=3.12
pyside6
pandas
SpeechRecognition
pyttsx3
openai
keyring
vosk
ChatTTS
edge-tts
# playsound
playsound @ git+https://github.com/killjoy1221/playsound.git
openai
pix2tex[gui]
pylatexenc
matplotlib

#mss
# 安装pytorch
# pip install torch==2.4.1 torchvision==0.19.1 torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cu124
