<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino_arm">
  <xacro:arg name="calibration_board_x" default="0.00"/>
  <xacro:arg name="calibration_board_y" default="-0.03"/>
  <xacro:arg name="calibration_board_z" default="-0.03"/>
  <xacro:arg name="calibration_board_roll" default="1.5708"/>
  <xacro:arg name="calibration_board_pitch" default="0"/>
  <xacro:arg name="calibration_board_yaw" default="0"/>

  <!-- Reuse the standard with-gripper, base-mounted-camera simulation model. -->
  <xacro:include filename="fairino_arm_gazebo.urdf.xacro"/>
  <xacro:include filename="fairino_arm_calibration_board.xacro"/>

  <xacro:fairino_arm_calibration_board
    parent="grasp_frame"
    xyz="$(arg calibration_board_x) $(arg calibration_board_y) $(arg calibration_board_z)"
    rpy="$(arg calibration_board_roll) $(arg calibration_board_pitch) $(arg calibration_board_yaw)"/>
</robot>
