<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="s622">
  <xacro:arg name="initial_positions_file" default="$(find s622_moveit_config)/config/initial_positions.yaml"/>
  <xacro:arg name="controllers_file" default="$(find s622_moveit_config)/config/ros2_controllers_gazebo_velocity.yaml"/>
  <xacro:arg name="enable_camera" default="true"/>

  <xacro:include filename="$(find s622_moveit_descriptions)/urdf/s622_moveit_descriptions.urdf"/>
  <xacro:include filename="../common/gazebo_plugins.xacro"/>
  <xacro:include filename="../common/gazebo_ros2_control.xacro"/>
  <xacro:include filename="s622_gripper_friction.xacro"/>
  <xacro:include filename="s622_camera_mount.xacro"/>

  <xacro:gz_common_plugins controllers_file="$(arg controllers_file)" enable_sensors="$(arg enable_camera)"/>
  <xacro:if value="$(arg enable_camera)">
    <xacro:s622_gazebo_camera/>
  </xacro:if>
  <xacro:s622_gripper_friction/>
  <xacro:gz_six_axis_velocity_control
    name="GazeboSimSystem"
    initial_positions_file="$(arg initial_positions_file)"
    include_gripper="true"/>
</robot>
