<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino_arm_moveit_descriptions">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fairino_arm_moveit_descriptions urdf file -->
    <xacro:include filename="$(find fairino_arm_moveit_descriptions)/urdf/fairino_arm_moveit_descriptions.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="fairino_arm_moveit_descriptions.ros2_control_real.xacro" />


    <xacro:fairino_arm_moveit_descriptions_ros2_control name="FairinoSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
